@import '../../assets/styles/mixins.scss';

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  max-width: 282px;
  gap: 20px;
  background-color: #FFFFFF;

  @include for-lg {
    width: 370px;
    max-width: 370px;
  }

  &-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
  }

  &-name {
    width: 242px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &-info {
    display: flex;
    flex-direction: column;
    width: 242px;
    text-align: center;

    .card-title {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .card-email, .card-phone {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}
