@import '../../assets/styles/mixins.scss';

.header-bg {
  width: 100%;
  background-color: #FFFF;
  display: flex;
  justify-content: center;

  .header {
    width: 100%;
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 60px;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    @include for-sm {
      padding: 13px 32px;
    }

    @include for-xs {
      gap: 14px;
      padding: 13px 16px;
    }

    .nav {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;

      button {
        padding: 4px 0;
      }
    }
  }
}
