.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 13px 60px;

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}