@import '../../assets/styles/mixins.scss';

.post-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 0 60px;

  .form-wrapper {
    display: flex;
    flex-direction: column;

    .form-input {
      width: 380px;
      max-width: 380px;
      margin-bottom: 50px;

      @include for-xs {
        width: 328px;
        max-width: 328px;
      }
  
      &:last-child {
        margin-bottom: 43px;
      }
    }
  
    .form-radio-title {
      height: 25px;
      margin-bottom: 11px;
    }
  
    .form-radio-group {
      display: flex;
      flex-direction: column;
      max-width: 380px;
      gap: 7px;
      margin-bottom: 47px;

      @include for-xs {
        width: 328px;
        max-width: 328px;
      }
    }
  
    .form-upload {
      width: 380px;
      max-width: 380px;
      margin-bottom: 50px;
      

      @include for-xs {
        width: 328px;
        max-width: 328px;
      }
    }
  
    .form-submit {
      align-self: center;
      width: 100px;
    }
  }
}